:root {
  --team-background-color: #f5f4fa;
  --primory-title-color: #212121;
  --nav-text-color: #212121;
  --button-text-color: #212121;
  --secondary-title-color: #ffffff;
  --accent-button-text-color: #ffffff;
  --address-text-color: #ffffff;
  --hero-background-color: #2f303a;
  --footer-background-color: #2f303a;
  --all-text-color: #757575;
  --accent-color: #2196f3;
  --primory-logo-color: #2196f3;
  --secondary-logo-color: #000000;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --header-contact-color: #757575;
  --feature-bc-icons: #f5f4fa;
  --icon-primory-color: #afb1b8;
  --icon-secondary-color: #ffffff;
  --border-color: #eeeeee;
  --product-description-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primory-title-color);
  letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hiden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------ header ------------------------*/
.header {
  border-bottom: 1px solid #ececec;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-logo-color);
}

.container-nav {
  display: flex;
  align-items: center;
}

.header-logo-blue {
  color: var(--primory-logo-color);
}

.header-list-nav {
  display: flex;
}

.header-item-nav:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--nav-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  bottom: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  margin-bottom: -2px;

  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-list-contact {
  display: flex;
  align-items: baseline;
  margin-left: auto;
}

.header-item-contact {
  margin-right: 50px;
}

.header-item-contact:last-child {
  margin-right: 0;
}

.header-link-contact {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-contact-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-contact:hover,
.header-link-contact:focus {
  color: var(--accent-color);
}

.icon-email,
.icon-tel {
  fill: currentColor;
  margin-right: 10px;
}
/* ------------------------ hero ------------------------*/

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--hero-background-color);
}

.hero-container {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../imges/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  width: 669px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.hero-button {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--accent-button-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
}

/* ------------------------ feature ------------------------*/

.feature {
  padding-top: 94px;
}

.feature-content {
  display: flex;
}

.feature-item {
  width: 270px;
}

.feature-item:not(:last-child) {
  margin-right: 30px;
}

.feature-icons {
  margin-bottom: 30px;
  height: 120px;

  border-radius: 4px;
  background-color: var(--feature-bc-icons);
}

.feature-item-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-item-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--all-text-color);
}

/* ------------------------ company ------------------------*/
.company-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.company-list {
  display: flex;
}

.company-item:not(:last-child) {
  margin-right: 30px;
}

.company-position {
  position: relative;
  width: 100%;
  height: 294px;
}

.company-label {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.company-label-text {
  width: 100%;
  height: 100%;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

/* ------------------------ team ------------------------*/
.team {
  background-color: var(--team-background-color);
}

.team-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-list {
  display: flex;
}

.team-item {
  width: 270px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-item-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--all-text-color);
}

.team-list-icons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team-item-icons {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.team-item-icons:last-child {
  margin-right: 0;
}

.team-link-icons {
  width: 100%;
  height: 100%;

  border-radius: 50%;
  fill: var(--icon-primory-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-icons:hover,
.team-link-icons:focus {
  background-color: var(--accent-color);
  fill: var(--icon-secondary-color);
}

/* ------------------------ clients ------------------------*/
.clients-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--primory-title-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}

.clients-item:last-child {
  margin-right: 0;
}

.clients-link {
  width: 100%;
  height: 100%;

  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: var(--icon-primory-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* ------------------------ footer ------------------------*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.footer-content {
  max-width: 376px;
  min-height: 112px;
  margin-right: 70px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
}

.footer-logo-blue {
  color: var(--primory-logo-color);
}

.footer-address {
  margin-bottom: 9px;
}

.footer-link-address {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--address-text-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-contact-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.footer-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.footer-list-icons {
  display: flex;
}

.footer-item-icons {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer-item-icons:last-child {
  margin-right: 0;
}

.footer-link-icons {
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--icon-secondary-color);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-icons:hover,
.footer-link-icons:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

/* ---------------------- portfolio ----------------------*/
.portfolio-list-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button {
  padding: 6px 22px;

  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--button-text-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 1px solid transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--accent-button-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ----------------------- product -----------------------*/
.product-list {
  display: flex;
  flex-flow: wrap;
  margin: -15px;
}

.product-item {
  width: 370px;
  margin: 15px;
}

.product-link {
  display: block;
  width: 100%;
  height: 100%;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-link:hover,
.product-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-thumb-img {
  position: relative;
  overflow: hidden;
}

.product-img {
  display: block;
}

.product-arise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(102%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-link:hover .product-arise,
.product-link:focus .product-arise {
  transform: translateY(0);
}

.product-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 322px;
  min-height: 168px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--product-description-color);
}

.product-content {
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  padding: 20px 24px;
}

.product-title-item {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primory-title-color);
}

.product-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--all-text-color);
}

/* ---------------------- modal window ----------------------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: #fff;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.modal p {
  padding: 20px;
  width: 100%;
  height: 100%;

  font-size: 15px;
  line-height: 1.71;
  color: var(--all-text-color);
}
